.popup{
    display: none;
    
    
    
}
.form{
    background-color: black;
    position: fixed;
    margin-top:0vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35vw;
    margin-left: 35vw;
    text-align: center;
    height: 30vh;
    
}
.open{
    display: block;
    margin-left: 30vw;
}
.form input{
    background-color: rgb(165, 165, 241);
    color: white;
}
.form button{
    width: 10vw;
    margin-left: 40%;
}
p{
    color: white;
}